 

*{


}


body {

  background-color: #F1F0FF;

  text-align: center;

}


h1 {

    text-align: center;

    background-color: #8C489F;


}


img {

  border: solid black 5px;

  margin-right: 60px;

}


ul {


}


li {


}


p {


}


#header {

    border-bottom: 5px solid black ;

  

}


#content{

  

}


#text {

     width: 90%;

     margin: 0 auto;

    

  

}


#text p {

       border: black dashed;

     box-shadow: 5px 5px 5px  black;

     text-indent: 40px;

     padding: 10px;

     background-color: #C3C3E5;

    

}


#text p:first-child {

   border-top-right-radius: 30px;

    border-top-left-radius: 30px;

    background-image: url(../images/fondoParrafo.png);


  

}


#text p:last-child {

     border-bottom-right-radius: 30px;

    border-bottom-left-radius: 30px;


}


#menu {


}


#menu a{


}




#menu li{

    display: inline; 

    border-left: 5px red solid;


}


#menu li a:hover{

    border-bottom: 5px red solid;

    


}


#footer{

    border-top: 5px ;

    background-color: #443266;


}


#footer a{


}


#footer a:hover{


}

#image {

    text-align: right;

    


}


@media all and (max-width: 500px) {

    img {

  border: solid red 5px;

  width: 90%;

  margin-right: 0px;

  margin-left: 0px;

  }

#image {

    text-align: center;

}

}
