body {
        text-align: center;
        background-image: url("../images/fondo.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family:"Playwrite NZ Guides", cursive;
  font-weight: 400;
  font-style: normal;
}




h1 {
    background-color: #9628;
    color: white;
    border-left: 8px solid red;
    padding: 10px;
    display: inline-block;

}

img {
    width: 700px;
    border: 4px solid black;
    border-radius: 15px;
    box-shadow: 0px 0px 12px rgb(0, 0, 0);
}

ul {
    list-style: none;
    padding: 0;

}

li {
    display: inline;     
    border: 2px solid #444;  
    padding: 10px 15px;
    margin: 5px;
    background-color: white;
}

